/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body{
	width: 1000px;
	margin: auto;
}
.topnav{
	display:inline-block;
	text-decoration: none;
	margin: 50px;
	color: lightgray;
	word-spacing: 65px;
}
.picture{
transform: scale(1.0) translate(142%, -40%);
}
.innovation{
	font-size: 75px;
	width:100px;
	transform: scale(1.0) translate(260%, 16%);
}

.content{
 display:inline-block;
 width:498px;
}
.content-1{
	display: inline-block;
	width: 330px;
}

.middle-img{
	margin-top: 30px;
	margin-bottom: 30px;
	width: 1000px;
}
.topBorder{
	border-top:2px solid black;
	margin: -97px 0 47px 0;
}
.bottomLine{
	border-top:2px solid black;
	margin: 45px 0 53px 0;
}
footer p{
	margin: 20px;
}
.copyright{
	margin: 73px 391px;
}
a{
	text-decoration: none;
	color: grey;
}
.topheader{
	margin: 20px auto;
	border: 1px;
	transform: scale(4) translate(432px, 19px);
}
.headerImage{
	margin: 50px auto;
	
}
h2{
	margin: -10px 0 5px 21px;
}
button{
    padding: 12px 53px;
    border: 1px solid black;
    text-align: center;
    background: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	transform: translate(246px, 166px);
}